body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*-----código acrecentado--------*/
.container-login {
    width: 400px;
    margin: 0 auto;
}

.titulo {
    margin-bottom: 30px;
    text-transform: uppercase;
}


/*-----INICIO------CADASTRO GRUPO DE PRODUTO-------------------*/
#grid_cadastro > tbody > tr td {
    vertical-align: middle;
    display: table-cell;
}


#grid_cadastro > thead > tr th:nth-child(2) {
    width: 110px;
}

#grid_cadastro > thead > tr th:nth-child(3) {
    width: 210px;
}

#cadastro {
    width: 70%;
    margin: 0 auto;
}

#cadastro_cabecalho {
    border-bottom: 1px #d7d7d7 solid;
}

#cadastro_conteudo {
    margin-top: 20px;
}

#cabecalho_grid {
    margin-bottom: 20px;
}

.invisivel{
display: none;
}
/*-----FIM------CADASTRO GRUPO DE PRODUTO--------------------*/

/*-----INICIOS------CADASTRO DE USUARIO--------------------*/

#grid_usuario > thead > tr th:nth-child(6) {
    width: 150px;
}

#grid_usuario > thead > tr th:nth-child(7) {
    width: 100px;
}

#grid_usuario > tbody > tr td {
    vertical-align: middle;
    display: table-cell;
}
